.form {
    // height: 70vh;
    height: 100%;

    .form-container {
        background: lightblue;
        height: 100%;
    
        .ui.blue.ribbon.label {
            font-size: 2rem;
        }
    
        .form-user-details {
            width: 80%;
            margin: auto;
            height: 100%;
            padding: 3%;
            background: #97D0A9;
            display: flex;
            justify-content: center;
            flex-direction: column;
    
            .form-user-details-container {
                height: 100%;
    
                label {
                    font-size: 1.5rem;
                }
                input {
                    background-color: rgb(230, 233, 230);
                }
    
                span {
                    font-size: 2rem;
                }
    
                .ui.form .inline.fields>label {
                    font-size: 1.5rem;
                }
    
                .ui.checkbox input.hidden+label {
                    font-size: 1.5rem;
                }
    
                .button-continue {
                    text-align: center;
                    
                }
    
                .back-continue-buttons {
                    display: flex;
                    justify-content: space-evenly;
    
                    .button-continue {
                        margin: 0 10px;
                    }
                }
    
                .confirm-buttons {
                    display: flex;
                    justify-content: space-evenly;
                }
    
                .recaptcha-container {
                    text-align: center;
                }
    
                .back-to-home {
                    text-align: center;
                }
    
                
            }
        }
    }
    
    .height-controller {
        height: 85vh;
    
        .confirm-page {
            // height: 70vh;
            height: 100%;
        
            .ui.form {
                height: 100%;
            }
        }
    }
}



@media (min-width: 1025px) and (max-width: 1280px) {

    .form {
        // height: 70vh;
        height: 100%;

        .form-container {
            background: lightblue;
            height: 100%;
        
            .ui.blue.ribbon.label {
                font-size: 2rem;
            }
        
            .form-user-details {
                width: 80%;
                margin: auto;
                height: 100%;
                padding: 3%;
                background: #97D0A9;
                display: flex;
                justify-content: center;
                flex-direction: column;
    
                .form-user-details-container {
                    label {
                        font-size: 1.5rem;
                    }
        
                    span {
                        font-size: 2rem;
                    }
        
                    .ui.form .inline.fields>label {
                        font-size: 1.5rem;
                    }
        
                    .ui.checkbox input.hidden+label {
                        font-size: 1.5rem;
                    }
        
                    .button-continue {
                        text-align: center
                    }
                }
            }
        }

        
    }

    .height-controller {
        height: 90vh;
    
        .confirm-page {
            // height: 70vh;
            height: 100%;
        
            .ui.form {
                height: 100%;
            }
        }
    }
}
        

@media (min-width: 768px) and (max-width: 1024px) {

    .form {
        // height: 73vh;
        height: 100%;

        .form-container {
            background: lightblue;
            height: 100%;
        
            .ui.blue.ribbon.label {
                font-size: 2rem;
            }
        
            .form-user-details {
                width: 80%;
                margin: auto;
                height: 100%;
                padding: 3%;
                background: #97D0A9;
                display: flex;
                justify-content: center;
                flex-direction: column;
        
                .form-user-details-container {
                    label {
                        font-size: 1.5rem;
                    }
        
                    span {
                        font-size: 1.5rem;
                    }
        
                    .ui.form .field>label {
                        font-size: 1.5rem;
                    }
        
                    .ui.form .inline.fields {
                        font-size: 1.5rem;
                    }
        
                    .ui.form .inline.fields>label {
                        font-size: 1.5rem;
                    }
        
                    .ui.checkbox input.hidden+label {
                        font-size: 1.5rem;
                    }
        
                    .button-continue {
                        text-align: center
                    }
        
                }
            }
        }

        // .confirm-page {
        //     // height: 70vh;
        //     height: 100%;
        
        //     .ui.form {
        //         height: 100%;
        //     }
        // }
    }

}

@media (min-width: 320px) and (max-width: 480px) {

    .form {
        // height: 75vh;
        height: 100%;
        
        .form-container {

            // padding-bottom: 40%;

            .ui.blue.ribbon.label {
                font-size: 0.7rem;
            }

            .form-user-details {
                width: 95%;
                margin: auto;
                height: 100%;
                padding: 0%;
                background: #97D0A9;
                display: flex;
                justify-content: center;
                flex-direction: column;

                .form-user-details-container {

                    label {
                        font-size: 1.2rem;
                    }

                    span {
                        font-size: 1.1rem;
                    }

                    .ui.form .field>label {
                        font-size: 1rem;
                    }

                    .ui.form .inline.fields {
                        font-size: 1rem;
                    }

                    .ui.form .inline.fields>label {
                        font-size: 1rem;
                    }

                    .ui.checkbox input.hidden+label {
                        font-size: 1rem;
                    }

                    .button-continue {
                        text-align: center
                    }
                }
            }
        }
    }
}