.homepage {
  background-image: url(../../assets/testHome_whales.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 1s ease 0s; }
  .homepage .homepage-title {
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center; }
  .homepage .dots-container {
    position: fixed;
    right: 0;
    top: 50%;
    padding-right: 5%;
    margin: 1% 0px;
    height: 40%;
    z-index: 10; }
    .homepage .dots-container .dots-group .dots {
      transform: rotate(-90deg);
      margin: 40% 0; }
      .homepage .dots-container .dots-group .dots .navDots {
        height: 25px;
        width: 25px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin: 0 1%; }
      .homepage .dots-container .dots-group .dots .navDots .Home {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        bottom: 100%;
        margin: 50px -50px;
        transform: rotate(90deg);
        position: absolute;
        z-index: 1; }
      .homepage .dots-container .dots-group .dots .navDots:hover .Home {
        visibility: visible; }
      .homepage .dots-container .dots-group .dots .navDots .Welcome {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        bottom: 100%;
        margin: 50px -50px;
        transform: rotate(90deg);
        position: absolute;
        z-index: 1; }
      .homepage .dots-container .dots-group .dots .navDots:hover .Welcome {
        visibility: visible; }
      .homepage .dots-container .dots-group .dots .navDots .Artists {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        bottom: 100%;
        margin: 50px -50px;
        transform: rotate(90deg);
        position: absolute;
        z-index: 1; }
      .homepage .dots-container .dots-group .dots .navDots:hover .Artists {
        visibility: visible; }
      .homepage .dots-container .dots-group .dots .navDots .EnvOrgs {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        bottom: 100%;
        margin: 50px -50px;
        transform: rotate(90deg);
        position: absolute;
        z-index: 1; }
      .homepage .dots-container .dots-group .dots .navDots:hover .EnvOrgs {
        visibility: visible; }
      .homepage .dots-container .dots-group .dots .navDots .MakeDiff {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        bottom: 100%;
        margin: 50px -50px;
        transform: rotate(90deg);
        position: absolute;
        z-index: 1; }
      .homepage .dots-container .dots-group .dots .navDots:hover .MakeDiff {
        visibility: visible; }
      .homepage .dots-container .dots-group .dots .navDots .Blogs {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        bottom: 100%;
        margin: 50px -50px;
        transform: rotate(90deg);
        position: absolute;
        z-index: 1; }
      .homepage .dots-container .dots-group .dots .navDots:hover .Blogs {
        visibility: visible; }
