.nonOrgs-page {
    margin: 0 auto;
    height: 100%;

    .nonOrgs-page-container {
        width: 90%;
        margin: 0 auto;
        background-color: lightgray;
        height: 100%;

        .ui.blue.ribbon.label {
            font-size: 2rem;
            margin: 5% 0;
        }

        .nonOrgs-title-description {
            width: 80%;
            margin: 0 auto;
        }

        .nonOrgs-sub-container {
            display: flex;
            flex-direction: row;
            padding-top: 5%;

            .nonOrgs-list-container {
                width: 25%;
                border: 2px solid;
                border-left: none;
                border-bottom: none;

                .nonOrgs-list {
                    padding: 5%
                }
            }

            .nonOrgs-list-content-container {
                width: 100%;

                .nonOrgs-list-content {
                    padding: 0% 5% 5% 5%;

                    .content-section-container {
                        height: 100%;

                        .content-section {
                            display: flex;
                            // flex-direction: row;
                            padding-bottom: 10%;

                            .section-name-img {
                                width: 30%;
                            }

                            .org-desciption {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}